<mat-card class="fullscreen-card" appearance="outlined">

  <mat-card-header>
    <span class="card-title">Adopta</span>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <div>
          <p class="card-body">Bienvenido a mi página web donde podrás encontrar información sobre razas y descripciones de perros y lo
            mejor es que podrás registrar el tuyo.</p>
          <p class="card-body card-body--highlight">
            BIENVENIDO Y LLENATE DE TERNURA
          </p>
          <button mat-stroked-button routerLink="/dogs" class="button">Ver Perritos</button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <img src="../../../assets/img/undraw_dog_jfxm.svg" alt="dog-picture" height="100%">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

</mat-card>
