<div class="container-fluid mt-3">
  <h2>Formulario de Tareas</h2>

  <form class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">

    <div class="mb-3">
      <h5>Nombre</h5>
      <input type="text" class="form-control" id="name" placeholder="Ingrese el nombre de la tarea"
        formControlName="name">
      <!-- validaciones -->
      @if(form.controls.name.hasError('required')) {
      <p class="text-danger">
        El nombre es obligatorio.
      </p>
      }
      @if(form.controls.name.hasError('minlength')) {
      <p class="text-danger">
        El nombre debe tener al menos 2 caracteres.
      </p>
      }
      @if(form.controls.name.hasError('maxlength')) {
      <p class="text-danger">
        El nombre no puede tener más de 50 caracteres.
      </p>
      }
    </div>

    <div class="mb-3">
      <h5>Prioridad</h5>
      <input type="radio" [value]="priorityEnum.LOW" name="priority" formControlName="priority"> Baja
      <input type="radio" [value]="priorityEnum.MEDIUM" name="priority" formControlName="priority"> Media
      <input type="radio" [value]="priorityEnum.HIGH" name="priority" formControlName="priority"> Alta
    </div>

    <div class="mb-3">
      <h5>Descripción</h5>
      <textarea name="description" formControlName="description"></textarea>
      <!-- validaciones -->
      @if(form.controls.description.hasError('required')) {
      <p class="text-danger">
        La descripción es obligatoria.
      </p>
      }
      @if(form.controls.description.hasError('minlength')) {
      <p class="text-danger">
        La descripción debe tener al menos 10 caracteres.
      </p>
      }
      @if(form.controls.description.hasError('maxlength')) {
      <p class="text-danger">
        La descripción no puede tener más de 120 caracteres.
      </p>
      }
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Guardar</button>

  </form>
</div>
